<p>
  <strong>Ticker:</strong>
  <%= @stock_table.ticker %>
</p>

<p>
  <strong>User:</strong>
  <%= @stock_table.user_id %>
</p>

<%= link_to 'Edit', edit_stock_table_path(@stock_table) %> |
<%= link_to 'Back', stock_tables_path %>
